<div class="container" fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5%">

  <div fxFlex="25" fxFlexOffset="1%">
    <div fxFlex="20">
      <a routerLink="/experts">
        <button mat-button>
          <mat-icon>arrow_back</mat-icon>
          Back to experts
        </button>
      </a>
    </div>
  </div>


  <div fxFlex="75" fxLayout="row">
    <div *ngIf="isLoading; else expertCard">
      <mat-progress-spinner mode="indeterminate">
      </mat-progress-spinner>
    </div>


    <ng-template #expertCard>

      <mat-card class="example-card">
        <mat-card-header class="card-header">
          <mat-card-title>{{expert.name}}</mat-card-title>
          <mat-card-subtitle>{{expert.job_title}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="card-content">
          {{expert.country_name}}
          <br>
          <br>
          <br>
          Working hours: {{startsAt | date:'shortTime'}} -> {{endsAt | date:'shortTime'}}
        </mat-card-content>
        <mat-card-actions class="card-actions">
          <a [routerLink]="['/book', expert.id]">
            <button mat-button>Book Now!</button>
          </a>
        </mat-card-actions>
      </mat-card>
    </ng-template>
  </div>

</div>
