<div class="container">
  <div *ngIf="isLoading; else loaded" fxFlex fxLayout="row" fxLayoutAlign="space-around center">
    <mat-progress-spinner mode="indeterminate">
    </mat-progress-spinner>
  </div>


  <ng-template #loaded>
    <div fxFlex fxFlexOffset="1%" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
         fxLayoutAlign="space-around center">
      <div *ngFor="let expert of experts" fxFlex="30">
        <app-expert-digest [expert]="expert"></app-expert-digest>
      </div>
    </div>
  </ng-template>
</div>
